input, button{font-family:inherit;}

body {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: calc(70% + 0.2vw);
    margin: 0;
    padding: 0;
}

.editable-span {
    border: 2px solid gray;
    border-radius: 10px;
    padding: 12px 20px;
    width: 38rem;
    min-height: 20px;
    display: inline-block;
    cursor: text;
    margin: 10px;
}
.editable-span:empty:before {
    content: attr(data-placeholder);
    color: #888;
}
.editable-span:focus:empty:before {
    content: "";
    border-color: black;
}

.error {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
}

.success {
    padding: 20px;
    background-color: #22f022; /* Red */
    color: white;
    margin-bottom: 15px;
}

.search_box {
    padding: 10px 0;
    width: 100%;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid gray;
    outline: none;
    text-align: center;
    font-size: 18px;
    transition: .2s;
}

.search_box:focus {
    border-bottom: 4px solid black;
}

.center_div {
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: repeat(auto-fit, minmax(100px, auto)); 
    justify-items: center; 
    align-items: center;
    margin-bottom: 70px;
}

.course_card {
    display:inline-table;
    width: 45%;
    min-width: 40%;
    max-width: 80%;
    border-radius: 10px;
    height: auto;
    padding: 20px;
    border: 4px solid black;
    background: #fff;
    transition: .4s;
    margin: 20px;
    overflow: hidden;
    word-wrap: normal;
    text-decoration: none;
    color: black;
    table-layout: fixed;
}

.course_card:hover {
    box-shadow: 15px 15px 0 -4px pink,
    15px 15px black;
}

.course_detail_card {
    display: inline-table;
    width: 60%;
    border-radius: 10px;
    height: auto;
    padding: 30px;
    border: 4px solid black;
    background: #fff;
    margin-top: 70px;
    margin-bottom: 200px;
    overflow: hidden;
    color: black;
    box-shadow: 15px 15px 0 -4px pink,
    15px 15px black;
}

.login_div {
    position: static;
    top: 0;
    left: 0;
    right: 0;
    padding: 15px;
    z-index: 999;
    display:flex;
    justify-content: flex-end;
    align-items: right;
}

.button {
    padding: 4px 8px;
    background-color: pink;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    margin-top: 0px;
    transition: .4s;
}

.button:hover {
    background-color: rgb(210, 120, 135);
    box-shadow: 5px 5px 0 -1px rgb(222, 123, 140),
    5px 5px black;
}

.back_arrow {
    position: static;
    font-size: 34px;
    color: black;
    text-decoration: none;
}

.comment {
    width: 70%;
    border-radius: 10px;
    height: auto;
    padding-left: 10px;
    border: 2px solid gray;
    background: #fff;
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    word-break: break-all;
}

#hideMe {
    -webkit-animation: flashMessageAnim 5s forwards; 
    animation: flashMessageAnim 5s forwards;
}
@keyframes flashMessageAnim {
    0%   {opacity: 1;}
    90%  {opacity: 1;}
    100% {opacity: 0;}
}
@-webkit-keyframes flashMessageAnim {
    0%   {opacity: 1;}
    90%  {opacity: 1;}
    100% {opacity: 0;}
}

.rating {
	display: flex;
	grid-gap: .5rem;
	font-size: 2rem;
	color: #FFBD13;
	margin-bottom: 2rem;
    margin-left: 1rem;
}
.rating .star {
	cursor: pointer;
    transition: 0.15s;
}
.rating .star.active {
	opacity: 0;
	animation: starAnim .5s calc(var(--i) * .1s) ease-in-out forwards;
}

@keyframes starAnim {
	0% {
		opacity: 0;
		transform: scale(1);
	}
	50% {
		opacity: 1;
		transform: scale(1.2);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

.rating .star:hover {
	transform: scale(1.4);
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}
  
/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px 0;
    border-radius: 10px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}