{% extends "layout.html" %}
{% block title %}🏠{% endblock %}
{% block content %}
<body>
    <div class="center_div">
        <h1>Kurssikartta.fi</h1>
        <form action="/result" method="GET">
            <input type="text" name="query", placeholder="Etsi kurssia">
            <input type="submit" value="Etsi🔍">
        </form>
        <br>
        {% if fetched_courses is defined and fetched_courses|length > 0 %}
            {% for course in fetched_courses %}
            <div class="course_box">
                Nimi: {{ course.name }} <br>
                Opintopisteet: {{ course.credits }} <br>
                Kuvaus: {{ course.description }} <br>
            </div>
            {% endfor %}
        {% elif fetched_courses is defined and fetched_courses|length == 0 %}
            <p>Etsimääsi kurssia ei löytynyt 🔍😕</p>
            <p>Ehdota kurssin lisäämistä moderaattoreillemme <a href="/">tästä</a></p>
        {% else %}
            <p>ERROR</p>
        {% endif %}
    </div>
</body>
{% endblock %}