{% extends "layout.html" %}
{% block title %}🏠{% endblock %}
{% block content %}
<body>
    <div class="center_div">
        <h1>Kurssikartta.fi</h1>
        <form style="min-width: 25%; width: auto;" action="/result" method="GET">
            <input type="text" class="search_box" name="query", placeholder="Etsi kurssia 🔍", autocomplete="off">
        </form>
        <br>
        {% if fetched_courses is defined and fetched_courses|length > 0 %}
            {% for course in fetched_courses %}
                {% if course.visible %}
                    <a href="courses/{{ course.id }}" class="course_card">
                        <h1>{{ course.name }}</h1>
                        <h2>{{ course.credits }} op</h2>
                        <span>
                        {% if course.average_rating %}
                            {{ course.average_rating|round(1) }}
                            {% for i in range(course.average_rating|round(0)|int) %}
                                <i class="bx bxs-star star" style="color: #FFBD13;"></i>
                            {% endfor %}
                        {% else %}
                        <i class='bx bx-star star' style="--i: 0;"></i>
                        Ei arvosteluja
                        {% endif %}
                        </span>
                        <p>{{ course.description }}</p>
                    </a>
                {% endif %}
            {% endfor %}
        {% elif fetched_courses is defined and fetched_courses|length == 0 %}
            <p>Etsimääsi kurssia ei löytynyt 🔍😕</p>
            <p>Ehdota kurssin lisäämistä moderaattoreillemme <a href="/">tästä</a></p>
        {% else %}
            <p>ERROR</p>
        {% endif %}
    </div>
</body>
{% endblock %}