{% extends "layout.html" %}
{% block title %}🏠{% endblock %}
{% block content %}
<body>
    <div class="center_div">
        <h1>Kurssikartta</h1>
        <h3>Pysy kartalla opinnoistasi!</h3>
        <br>
        <form style="min-width: 25%; width: auto;" action="/result" method="GET">
            <div style="min-width: 25%; width: auto;">
                <input type="text" class="search_box" name="query", value="{{ session.latest_search }}" placeholder="Etsi kurssia 🔍", autocomplete="off">
            </div>
            
            <div class="sort_div">
                <label for="sort_filter">
                    <i class='bx bx-filter-alt'></i>
                    <p>Järjestys:</p>
                </label>
                <label for="trending">
                    <input type="radio" id="trending" name="sort" value="trending" onchange="this.form.submit()" checked>
                    Trendaavuus <i class='bx bxs-hot' style='color:#e75b0e'></i>
                </label><br>
                <label for="toprated">
                    <input type="radio" id="toprated" name="sort" value="toprated" onchange="this.form.submit()">
                    Arvostelut <i class="bx bxs-star star" style="color: #FFBD13;"></i>
                </label><br>
                <label for="asc">
                    <input type="radio" id="asc" name="sort" value="asc" onchange="this.form.submit()">
                    Aakkosjärjestys
                </label>
            </div>
        </form>
        <script src="../static/js/sortChecker.js"></script>
        <br>
        <br>
        {% if fetched_courses is defined and fetched_courses|length > 0 %}
            {% for course in fetched_courses %}
                {% if course.visible %}
                    <a href="courses/{{ course.id }}" class="course_card">
                        <h1>{{ course.name }} 
                            
                            {% if course.is_trending %}
                            <i class='bx bxs-hot bx-tada' style='color:#e75b0e; font-size: xx-large;'></i>
                            {% endif %}

                        </h1>
                        <h2>{{ course.credits }} op</h2>
                        <span>
                        {% if course.average_rating %}
                            {{ course.average_rating|round(1) }}
                            {% for i in range(course.average_rating|round(0)|int) %}
                                <i class="bx bxs-star star" style="color: #FFBD13;"></i>
                            {% endfor %}
                        {% else %}
                        <i class='bx bx-star star' style="--i: 0;"></i>
                        Ei arvosteluja
                        {% endif %}
                        </span>
                        <p>{{ course.description }}</p>
                    </a>
                {% endif %}
            {% endfor %}
        {% elif fetched_courses is defined and fetched_courses|length == 0 %}
            <p>Etsimääsi kurssia ei löytynyt 🔍😕</p>
            <p>Ehdota kurssin lisäämistä moderaattoreillemme <a href="createsuggestion/">tästä</a></p>
        {% else %}
            <p>ERROR</p>
        {% endif %}
    </div>
</body>
{% endblock %}