{% extends "base.html" %}

{% block title %}{% endblock %}

{% block base_block %}
    <div class="login_div">
        {% if session.username %}
            <div style="
            display: grid; 
            grid-template-columns: 1fr; 
            justify-items: center; 
            align-items: center;">
                <b style="margin-bottom: 4px;">{{ session.username }}</b>
                <form action="/logout" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                    <button type="submit" class="button">Kirjaudu ulos</button>
                </form>
            
            {% if session.account_type == 1 %}
                <br>
                <a href="/moderatorpanel"><button class="button">Moderaattoripaneeliin!</button></a>
            {% endif %}
            </div>
        {% else %}
            <div>
                <form style="display: inline;" action="/login" method="POST">
                    <span>Tunnus: <input type="text" name="username", autocomplete="off"></span>
                    <span>Salasana: <input type="password" name="password"></span>
                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                    <input type="submit" class="button" value="Kirjaudu">
                </form>
                <a href="/register"><button class="button">Rekisteröidy</button></a>
            </div>
        {% endif %}
    </div>
    {% with messages = get_flashed_messages(with_categories=true)%}
        {% if messages %}
            {% for category, message in messages%}
                <div id="hideMe" class="{{ category }}">{{message}}</div>
            {%endfor%}
        {% else %}
            <br>
            <br>
            <br>
        {%endif%}
    {%endwith%}

    {% block content %}{% endblock %}

    <footer class="footer_banner">
        <p>Etkö löytänyt etsimääsi kurssia? <a href="/createsuggestion">Klikkaa tästä luodaksesi uuden kurssiehdotuksen!</a></p>
        <br>
        <p style="font-size: small;">Moderaattorimme tarkastavat ehdotukset ja lisäävät ne kurssikarttaan</p>
        <br>
        <i style="font-size: x-large;" class='bx bxl-flask'></i>
    </footer>


{% endblock %}