{% extends "base.html" %}

{% block title %}{% endblock %}

{% block base_block %}
    <div class="login_div">
        {% if session.username %}
            <span><b>{{ session.username }}</b>
            <a href="/logout"><button class="button">Kirjaudu ulos</button></a></span>
        {% else %}
            <div>
                <form style="display: inline;" action="/login" method="POST">
                    <span>Tunnus: <input type="text" name="username", autocomplete="off"></span>
                    <span>Salasana: <input type="password" name="password"></span>
                    <input type="submit" class="button" value="Kirjaudu">
                </form>
                <a href="/register"><button class="button">Rekisteröidy</button></a>
            </div>
        {% endif %}
    </div>
    {% with messages = get_flashed_messages(with_categories=true)%}
        {% if messages %}
            {% for category, message in messages%}
                <div id="hideMe" class="{{ category }}">{{message}}</div>
            {%endfor%}
        {% else %}
            <br>
        {%endif%}
    {%endwith%}

    {% block content %}{% endblock %}
    
{% endblock %}